<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<div class="eroll-info">
    <form action="">
        <label for="">Your name</label>
        <input type="text" class ="name">
        <button>submit</button>
    </form>
</div>