<h1>add new planet</h1>
<form action="/planets" method="post">
    <label for="">name</label>
    <input type="text" name ="name">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <label for="">fun fact</label>
    <input type="text" name="funfact">
    <label for="">wikipedia link</label>
    <input type="text" name="link">
    <button>add</button>
</form>