body{
    font-family:'Work Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}
.ad{
    background-color: lightgray;
    color:gray;
    padding: 0.1em 0;
    font-size: 2.5em;
    margin: 0.5em 0;
    text-align: center;
}
.navtop a{
    font-size: 0.5em;
    width: 16%;
    color:white;
    background-color: black;
    margin:0 1% 0 0;    
    text-align: center;
    height: 1.7em;
    padding: 1%; 
}
.container-middle a{
    display: block;
    text-align: right;
}
article{
    border-bottom: 0.05em solid lightgray;
    margin-top:1em;
}
.about{
    border-bottom: 0.05em solid lightgray;
}
.posts{
    border-top: 0.05em solid lightgray;
}
img{
    width: 100%;
}
a {
    color:red;
    font-weight: 900;
    font-size: 0.8em;
    text-decoration: none;
    vertical-align: middle;
    margin: 1em 0;
}
.navbottom a{
    border-left: 0.1em solid red;
    padding:0 0.4%;
    font-size: 0.8em;
}
.navbottom a:first-child{
    border-left:none;
    padding-left: none;
}
h1{   
    font-size: 2.5em;
    color:red;
    margin:0;

}

footer{
    margin-top:1.5em;
}
.postlinks a{
    text-align: left;  
    margin:0;
}
.date{
    font-size: 1.5em;
    color:lightgray;
}
main h2{
    margin: 0.2em 0;

}
@media (min-width:30em){
    .subhead::first-letter {
        color: lightgray;
        float: left;
        line-height: 1;
        font-size: 4em;
        margin: 0 .2em 0 0;
        font-weight: bold;
    }
}
@media (min-width:50em){
    header{
        display:flex;
        margin: 1em 0;
    }
    .navtop{
        display:flex;
    }
    .container-middle{
        display: flex;
    }
    main{
        width: 70%;
    }
    aside{
        width:25%;
        margin-left: 3%
    }
    a:hover{
        color: #540303;
    }
    .navtop a:hover{
        background-color: darkslategrey;
    }
    .subtitle{
        color:grey;
        font-size: 1.5em;
        margin: 0 0 0 1.5em ;
        position: relative;
        bottom: -0.7em;
    }
    .subhead::first-letter {
        color: lightgray;
        float: left;
        line-height: 1;
        font-size: 4em;
        margin: 0 .2em 0 0;
        font-weight: bold;
    }
    .navtop a{
        font-size: 0.8em;
    }
}