<h2>there are more than one moive matching your key word</h2>
<p>click movie to view details</p>
<% @titles_arr.each do |movie|%>
<p><a href="/movie?id=<%=movie['imdbID']%>"><%=movie['Title']%></a></p>
<%end%>