<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%= url('/styles.css') %>">
</head>
<body>
    <p>RIP Yahoo Finance welcome Google overlords Stock App</p>
    <% if @stock %>
        <p>The latest stock price for <%= @stock.company_name %> : $<%= @stock.latest_price %> </p>
    <% else %>
        <p>not found</p>
    <% end %>
</body>
</html>
